AddDefaultCharset utf-8
RewriteEngine On

php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value memory_limit 512M
php_value max_execution_time 300
php_value max_input_time 300

RewriteCond %{REQUEST_METHOD} =GET
RewriteCond %{HTTP:Accept} text/html [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{THE_REQUEST} \s/+index(?:\.php)?(?:[\s?]|$) [NC]
RewriteRule ^index(?:\.php)?$ / [R=301,L,NE]

RewriteCond %{REQUEST_METHOD} =GET
RewriteCond %{HTTP:Accept} text/html [NC]
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php(?:[\s?]|$) [NC]
RewriteRule ^(.+?)\.php$ /$1 [R=301,L,NE]

RewriteRule ^kladbsearch/?$ /searchcem [R=301,L,NE,QSA]
RewriteRule ^kladbupdate/?$ /cemetery/editcemform [R=301,L,NE,QSA]
RewriteRule ^addcemetery/?$ /searchcem/addcemetery [R=301,L,NE,QSA]
RewriteRule ^editcemform/?$ /cemetery/editcemform [R=301,L,NE,QSA]
RewriteRule ^cardout/editgraveform/?$ cardout.php?view=edit [L,QSA]
RewriteRule ^cardout/branch/?$ cardout.php?view=branch [L,QSA]
RewriteRule ^cemeteries/?$ /searchcem [R=301,L,NE,QSA]
RewriteRule ^cemeteries/addcemetery/?$ /searchcem/addcemetery [R=301,L,NE,QSA]
RewriteRule ^searchcem/?$ searchcem.php [L,QSA]
RewriteRule ^searchcem/addcemetery/?$ searchcem.php?view=add [L,QSA]
RewriteRule ^cemetery/editcemform/?$ cemetery.php?view=edit [L,QSA]
RewriteRule ^cemetery/map/?$ cemetery-map.php [L,QSA]
RewriteRule ^wallet/transactions/?$ profile.php?md=4 [L,QSA]
RewriteRule ^wallet/?$ profile.php?md=4 [L,QSA]
RewriteRule ^accounting/?$ profile.php?md=12&tool=accounting [L,QSA]
RewriteRule ^accounting/stats/?$ profile.php?md=12&tool=stats [L,QSA]
RewriteRule ^accounting/wallets/?$ profile.php?md=12&tool=wallets [L,QSA]
RewriteRule ^accounting/transactions/?$ profile.php?md=12&tool=transactions [L,QSA]
RewriteRule ^accounting/accruals/?$ profile.php?md=12&tool=accruals [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L,QSA]

ErrorDocument 404 /404.php
